@model WebApplication5.Physician

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Physician</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationCharges)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Npi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
